
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şifre Değiştir</h2>

<br />

<form action="/Admin/Password" method="post">
    <input type="password" placeholder="Eski Şifreniz" name="eskiparola" id="eskiparola" class="form-control" />
    <br />
    <input type="password" placeholder="Yeni Şifreniz" name="Parola" id="Parola" class="form-control" />
    <br />
    <input type="password" placeholder="Yeni Şifreniz" name="Parola2" id="Parola2" class="form-control" />
    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>

</form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        @if (TempData["Hata"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'HATA!',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["Hata"].ToString()))'
                });
            </text>
        }

        @if (TempData["Basarili"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı!',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["Basarili"].ToString()))'
                });
            </text>
        }
    });

    
</script>

